# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.MyGames.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Revina\Revina (2)\.idea\.idea.MyGames\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
